

<!-- <div class="assignments-container">
  <h2>📘 Submitted Assignments</h2>

  <div class="assignment-card" *ngFor="let assignment of submittedAssignments">
   <p><strong>Title:</strong> {{ assignment.topic }}</p>
    <p><strong>Student:</strong> {{ assignment.studentId || assignment.studentEmail }}</p>

    <p *ngIf="assignment.fileUrl || assignment.fileName">
      <strong>Uploaded File:</strong>
      <button (click)="downloadFile(assignment.fileUrl, assignment.fileName)">
        {{ assignment.fileName ? assignment.fileName : 'View file' }}
      </button>
    </p>
  </div>

  <div *ngIf="submittedAssignments.length === 0">
    ✅ No submitted assignments available
  </div>
</div>

 -->



 <div class="assignments-container">
  <h2>📘 Submitted Assignments</h2>

  <div class="assignment-card" *ngFor="let assignment of submittedAssignments">
    <p><strong>Title:</strong> {{ assignment.topic }}</p>
    <!-- <p><strong>Student ID:</strong> {{ assignment.studentId }}</p>
<p><strong>Student Email:</strong> {{ assignment.studentEmail }}</p> -->


    <p *ngIf="assignment.fileUrl || assignment.fileName">
      <strong>Uploaded File:</strong>
      <button (click)="downloadFile(assignment.fileUrl, assignment.fileName)">
        {{ assignment.fileName ? assignment.fileName : 'View file' }}
      </button>
    </p>
  </div>

  <div *ngIf="submittedAssignments.length === 0">
    ✅ No submitted assignments available
  </div>
</div>
