.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 12px; /* space between logo and title */
  height:40px;
}

.logo {
  width: 50px; /* adjust size as needed */
  height: auto;
}

.site-title {
  font-size: 20px;
  font-weight: bold;
  color: black;
  font-family: 'Segoe UI', sans-serif;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.2s;
}

.nav-links li a:hover {
  color: #0077cc;
}

.login-btn {
  background-color: #008fd4;
  padding: 8px 16px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}